body {
  /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  // --font-monospace-override: Courier;
  // --code-background: black;
  // --code-normal: white;
  // --code-punctuation: white;

  .navbar-title {
    font-family: var(--font-title);
    font-weight: normal;
  }

  .index-grid {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);

    a {
      text-decoration: none;
    }

    .block-link {
      // padding: 1px;
      // border: 1px solid black;
      background-color: var(--background-primary);
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-weight: normal;

      div {
        background-color: var(--background-primary);
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: grid;
        padding: 0 1rem;
        justify-items: start;
        align-items: center;

        span {
          font-family: var(--font-heading);
          font-weight: bold;
          font-size: large;
          background-image: linear-gradient(90deg,
              palegreen 0%,

              palegreen 100%);
          background-repeat: no-repeat;
          background-position: 0 1em;
        }
      }


    }

    .block-link.home {
      div {
        color: var(--text-accent);
        font-weight: bold;

        span {
          font-family: var(--font-title);
          font-weight: bold;
        }
      }
    }
  }



  @media (min-width:961px) {
    .index-grid {
      height: 100vh;
      width: 100vw;
      position: absolute;
      left: 0;
      top: 0;
      display: grid;
      background-color: var(--background-secondary);
      
      a:hover {
        text-decoration: underline;
        text-decoration-color: var(--text-accent);
      }

      a.home:hover {
        text-decoration-color: white;
        text-decoration-thickness: 0.05rem;
        
      }

      .block-link {
        // padding: 1px;
        // border: 1px solid black;
        background-color: var(--background-secondary);

        div {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: grid;
          justify-items: center;
          align-items: center;
          background-color: white;
          span {
            background-image: none;

          }
        }
      }

      .block-link.home {
        div {
          background-color: var(--text-accent);
          color: white;
          span {
            font-weight: normal;
            font-size: x-large;
          }
        }
      }
    }
  }


}